---
import MainLayout from '../../layouts/MainLayout.astro';
import ChatBubble from '../../components/ChatBubble.astro';
import { StoryService } from "../../lib/mops";

const {slug} = Astro.params;

const storyService = new StoryService();

// Tunggu hingga cerita diambil
await storyService.fetchStories();
const specificStory = slug ? storyService.getStoryBySlug(slug) : null;
---

<MainLayout title="Welcome to Mops.">
	<div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
		<div class="max-w-2xl">  		
			<!-- Content -->
			{specificStory ? (
			<div class="space-y-5 md:space-y-8">
				<blockquote class="text-center p-4 sm:px-7">
					<h2 class="text-xl font-medium text-gray-800 md:text-2xl md:leading-normal xl:text-2xl xl:leading-normal dark:text-neutral-200">
						{specificStory.title}
					</h2>
					{/* <p class="mt-5 text-sm text-gray-800 dark:text-neutral-200">
						{specificStory.description}
					</p> */}
				</blockquote>
			
				<div class="space-y-3 relative border-s-4 ps-4 sm:ps-6 dark:border-neutral-700">     
					<p class="text-sm text-gray-800 dark:text-neutral-200">
					{specificStory.scenes[0]?.content}
					</p>
				</div>
			
				{/* <!-- List --> */}
				<div class="space-y-6">
					{specificStory.scenes.slice(1).map((scene, index) => (
					<dl class="flex flex-col sm:flex-row gap-1">
						{scene.type === 'dialogue' && (
						<>
							<ChatBubble speaker={scene.speaker} message={scene.message}/>
						</>
						)}
						{scene.type === 'description' && (
						<div class="space-y-3 relative border-s-4 ps-4 sm:ps-6 dark:border-neutral-700">     
							<p class="text-sm text-gray-800 dark:text-neutral-200">
							{scene.content}
							</p>
						</div>
						)}
					</dl>
					))}
				</div>
				{/* <!-- End List --> */}
				</div>
			) : (
				<p>No content available</p>
			)}
			<!-- End Content -->
		</div>
	</div>
</MainLayout>